body {
	background-color: #eeeeee;
}

header {
	color: #2e3436;
	background-color: #729fcf;
	border-bottom: 1em solid #2e3436;
}

header a {
	text-decoration: none;
	color: #2e3436;
	background-color: transparent;
}

header h1 {
	margin-bottom: 0em;
}

article {
	border: 1px solid #2e3436;
	background-color: #ffffff;
	padding: 0.5em;
	margin-top: 1em;
}

article h2 {
	font-family: sans-serif;
}

article h2 a {
	color: #8f5902;
	text-decoration: none;
}

article.dead {
	opacity: 0.4;
	background-color: #babdb6; 
}
